@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-moz-keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-webkit-keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-o-keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-ms-keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.color {
    color: var(--primary);
}

.home-hello {
    height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.home-hello p {
    font-size: 1.3rem;
    animation: fadeIn 6s;
    -webkit-animation: fadeIn 6s;
    -moz-animation: fadeIn 6s;
    -o-animation: fadeIn 6s;
    -ms-animation: fadeIn 6s;
}

.home-hello-title {
    width: 40%;
    display: flex;
    justify-content: center;
    font-size: 35px;
    text-align: center;
    animation: fadeIn 3s;
    -webkit-animation: fadeIn 3s;
    -moz-animation: fadeIn 3s;
    -o-animation: fadeIn 3s;
    -ms-animation: fadeIn 3s;
}

.home-search {
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 20px;
    padding: 0.5rem 1.5rem;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.home-search input {
    width: 100%;
    border: none;
    font-size: 1rem;
}

.home-search input::placeholder {
    color: #878787;
}

.home-filter {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5rem;
    background-color: #F6F7FC;
}

.home-filter h1 {
    width: 30%;
    text-align: center;
}

.content-filters {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 15px;
    row-gap: 1rem;
    margin-top: 3rem;
}

.home-jobs {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5rem;
}

.content-jobs {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    column-gap: 15px;
    row-gap: 1rem;
    margin-top: 3rem;
}
