@import url('https://fonts.googleapis.com/css2?family=STIX+Two+Text&display=swap');

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-moz-keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-webkit-keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-o-keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-ms-keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.page-container-primary {
    height: 95vh;
}

.page-container-secondary {
    height: 50vh;
    background-color: var(--effect-primary);
}

.color {
    color: var(--primary);
}

.logo {
    height: 3.5rem;
    width: auto;
}

.home-initial {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 3rem;
}

.home-initial-contents {
    display: flex;
    height: 100%;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
}

.home-initial-title {
    width: 85%;
    font-size: 4rem;
    color: var(--primary);
    font-family: 'STIX Two Text', serif;
    animation: fadeIn 4s;
    -webkit-animation: fadeIn 4s;
    -moz-animation: fadeIn 4s;
    -o-animation: fadeIn 4s;
    -ms-animation: fadeIn 4s;
}

.home-initial-content {
    width: 85%;
    margin-top: 1rem;
    animation: fadeIn 4s;
    -webkit-animation: fadeIn 4s;
    -moz-animation: fadeIn 4s;
    -o-animation: fadeIn 4s;
    -ms-animation: fadeIn 4s;
}

.background-home-initial {
    height: 75%;
    width: auto;
    border-radius: 70px;
}

.home-benefits {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 10rem;
}

.home-benefits-items {
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
}

.home-benefits-items p {
    width: 90%;
    text-align: center;
}

.home-about {}