.card-job {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 200px;
    cursor: pointer;
    padding: 1.5rem;
    border-radius: 20px;
    border: 3px solid #d3d3d3;
}

.card-job:hover {
    transition: 0.4s;
    border: none;
    box-shadow: 0 0 2px 4px var(--primary)
}

.company-job {
    display: flex;
    align-items: center;
}

.company-job p {
    margin-left: 1rem;
    font-size: 1rem;
    font-weight: 500;
}

.company-job img {
    width: 10%;
}

.content-job {
    margin-top: 1rem;
}

.content-job p {
    margin-top: 0.5rem;
    font-size: 0.8rem;
}

.flag {
    width: 100%;
    height: auto;
    border-radius: 20px;
}
