.curriculum {
    display: flex;
    height: auto;
    border-radius: 15px;
    background-color: var(--primary);
    margin: 2rem 5rem;
    box-shadow: rgb(100, 100, 111) 0px 7px 29px 0px;
}

.background {
    width: 50%;
    height: auto;
    border-radius: 20px;
}

.curriculumContent {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 3rem;
    color: var(--white);
}

.curriculumContent h1 {
    font-size: 40px;
}

.curriculumContent input {
    display: none;
}

.fileUpload {
    width: 150px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 1rem;
    border-radius: 20px;
    background-color: var(--white);
    color: var(--primary);
    cursor: pointer;
}
