.color {
    color: var(--primary);
}

.header {
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 5rem;
}

.logo {
    height: 80%;
    width: auto;
    cursor: pointer;
}

.hide-content {
    display: none;
}

.header-content {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.header-content a {
    border-radius: 10px;
    padding: 0.7rem 2.5rem;
    margin-right: 0.5rem;
}

.header-content a:hover {
    transition: 0.5s;
    background-color: #f5f5f5;
}

.header-user {
    display: flex;
    align-items: center;
}

.header-user a {
    display: flex;
    align-items: center;
    border-radius: 10px;
    padding: 0.7rem 2.5rem;
    margin-right: 0.5rem;
}

.header-user a:hover {
    transition: 0.5s;
    background-color: #f5f5f5;
    color: var(--primary);
}

.header-user button {
    border: none;
    border-radius: 10px;
    background-color: var(--primary);
    color: #ffffff;
    padding: 0.7rem 2.5rem;
    font-size: 1rem;
}

.header-user button:hover {
    background-color: #292686;
    transition: 0.4s;
}

.profile-icon {
    margin-left: 1rem;
}

.logout-icon {
    cursor: pointer;
    margin-left: 25px;
}

.logout-icon:hover {
    transition: 0.4s;
    color: var(--primary);
}
