.color {
    font-weight: 700;
    color: var(--primary);
}

.job-container {
    display: flex;
}

.job {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 3rem;
}

.job h1 {
    font-size: 2.8rem;
    color: var(--primary);
}

.job-logo {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.job-logo img {
    height: 30px;
}

.panel {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.content p {
    text-align: justify;
}