.color {
    color: var(--primary);
}

.container-myjobs {
    width: 100%;
    padding: 3rem;
}

.content-jobs {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 15px;
    row-gap: 1rem;
    margin-top: 1.8rem;
}
