.container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    padding: 5rem;
}

.containerCenter {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem 0;
}

.color {
    color: var(--primary);
}

.tabContainer {
    width: 500px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.tabContainer button {
    border: none;
    border-radius: 15px;
    background-color: var(--primary);
    color: var(--white);
    padding: 1rem 5rem;
}

.tabContainer button:hover {
    transition: 0.5s;
    background-color: var(--secondary);
}