.hide {
    display: none;
}

.side-bar {
    width: 20rem;
    height: 100vh;
    position: sticky;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 4rem 0rem;
    background-color: var(--primary);
    color: var(--white);
    box-shadow: rgba(0, 0, 0, 0.6) 0px 30px 90px;
}

.side-bar-hide {
    position: sticky;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 5vw;
    height: 100vh;
    padding: 4rem 0rem;
    background-color: var(--primary);
    color: var(--white);
    box-shadow: rgba(0, 0, 0, 0.4) 0px 30px 90px;
}

.logo {
    width: 70%;
    height: auto;
}

.header-options {
    width: 70%;
    height: 40vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.header-options a {
    width: 100%;
    height: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 0.8rem;
}

.header-options-active {
    background-color: #281c6c;
    border-radius: 15px;
}

.hide-icon {
    padding: 0.7rem;
    border-radius: 50%;
    cursor: pointer;
}

.hide-icon:hover {
    transition: 0.4s;
    background-color: var(--secondary);
}

.show-icon {
    cursor: pointer;
}

.logout-icon {
    cursor: pointer;
}
